// Variables
$none: none;
$auto: auto;
$box: border-box;
$hid: hidden;
$webflex: -webkit-box;
$msflex: -ms-flexbox;
$flex: flex;
$dntrepeat: no-repeat;
$leftpos: left;
$cntr: center;
$solidbrd: solid;
$block: block;
$pointer: pointer;
$easeInOut: ease-in-out;
$webshadow: -webkit-box-shadow;
$row: row;
$inblock: inline-block;
$insetbrd: inset;
$colors: (
  lightblue: #add8e6,
  black: #000,
);
$vertical: vertical;
$normal: normal;
$col: column;
$dntwrap: nowrap;
$borderColor: border-color;

// Selectors
$selectorMap: (
  global: "*",
  globalImg: "img",
  body: "body",
  para: "p",
  globalLink: "a",
  link: ".link",
  globalTable: "table",
  table: ".table",
  first: ".first",
  th: "th",
  td: "td",
  tr: "tr",
  wrapper: "#container",
  card: ".card",
  deleteForm: ".DeleteForm",
  createPostForm: ".CreatePostForm",
  createPostRow: ".CreatePostRow",
  logoBox: ".logobox",
  left: ".left",
  Col20: ".Col20",
  Col25: ".Col25",
  Col30: ".Col30",
  Col35: ".Col35",
  Col40: ".Col40",
  Col50: ".Col50",
  Col65: ".Col65",
  center: ".center",
  bookHeading1: ".bokah1",
  bookLine: ".bokahr",
  firstImage: ".first_image",
  secondImage: ".second_image",
  footer: ".footer",
  row: ".row",
  contactForm: ".ContactForm",
  registerForm: ".RegisterForm",
  registerRow: ".RegisterRow",
  editRow: ".EditRow",
  contactBtn: ".ContactBtn",
  contactTxt: ".contacttxt",
  deleteBtn: ".DeleteBtn",
  editBtn: ".EditBtn",
  createPostBtn: ".CreatePostBtn",
  loginBtn: ".loginBtn",
  registerBtn: ".RegisterBtn",
  bookBtn: ".BookBtn",
  bookForm: ".BookForm",
  label: ".label",
  aboutTxt: ".abouttxt",
  accountForm: "#accountForm",
  mb: ".mb",
  bookBtn2: "#Bookbtn",
  logoutBtn: "#logoutbtn",
  contactRow: ".ContactRow",
  loginRow: ".LoginRow",
  warning: ".warning",
  bookRow: ".BookRow",
  editForm: ".EditForm",
  input: ".input",
  txtArea: ".txtarea",
  selectArea: ".selectarea",
  desktopMeny: ".desktopmeny",
  logoutForm: ".LogoutForm",
  prices: ".prices",
  Main: ".Main",
  main: ".main",
  fullnameLabel: ".fullnamelabel",
  utbildaHeading1: ".utbildah1",
  courseTxt: ".coursetxt",
  thanksHeading1: ".tackh1",
  muh2: ".muh2",
  confirmTxt: ".confirmtxt",
  bookTable: ".bookTable",
  vemHeading1: "#vemh1",
  map: "#map",
  loginHeading4: "#loginh4",
  loginLine: "#loginhr",
);

// Functions
@function color($val) {
  @return map-get($colors, $val);
}
