#{map-get($selectorMap, aboutTxt)} {
  font-size: 20px;
}

@media screen and (max-width: 1900px) {
  #{map-get($selectorMap, aboutTxt)} {
    text-align: $cntr;
  }

  #{map-get($selectorMap, map)} {
    width: 100%;
  }
}
