#{map-get($selectorMap, card)} {
  -webkit-box-shadow: $zero $fourpx $eightpx $zero
    rgba($zero, $zero, $zero, 0.2);
  box-shadow: $zero $fourpx  $eightpx $zero rgba($zero, $zero, $zero, 0.2);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding: $twopx $sixteenpx;
  font-size: $twentytwopx;
  line-height: $twoem;
}

#{map-get($selectorMap, card)} {
  &:hover {
    -webkit-box-shadow: $zero $eightpx $sixteenpx $zero
      rgba($zero, $zero, $zero, 0.2);
    box-shadow: $zero $eightpx $sixteenpx $zero rgba($zero, $zero, $zero, 0.2);
  }
}
