@media screen and (max-width: $media) {
  #{map-get($selectorMap, bookHeading1)},
  #{map-get($selectorMap, loginHeading4)} {
    white-space: $dntwrap;
  }

  #{map-get($selectorMap, utbildaHeading1)} {
    margin-left: $ten;
    white-space: $dntwrap;
    font-size: $twentyfivepx;
    text-align: $cntr;
  }

  #{map-get($selectorMap, thanksHeading1)},
  #{map-get($selectorMap, nuHeading2)},
  #{map-get($selectorMap, vemHeading1)} {
    margin-left: $ten;
    white-space: $dntwrap;
    font-size: $twentyfivepx;
  }
}
