@media screen and (max-width: 1900px) {
  #{selector(bookHeading1)},
  #{selector(loginHeading4)} {
    white-space: $dntwrap;
  }

  #{selector(utbildaHeading1)} {
    margin-left: 10px;
    white-space: $dntwrap;
    font-size: 25px;
    text-align: $cntr;
  }

  #{selector(thanksHeading1)},
  #{selector(nuHeading2)},
  #{selector(vemHeading1)} {
    margin-left: 10px;
    white-space: $dntwrap;
    font-size: 25px;
  }
}
