#{map-get($selectorMap, global)} {
  margin: $zero;
  padding: $zero;
  -webkit-box-sizing: $box;
  box-sizing: $box;
  border: $zero;
  outline: $zero;
  list-style: $none;
  font-size: $hundred;
}

#{map-get($selectorMap, globalImg)} {
  width: $hundred;
  max-width: $hundred;
  height: $auto;
}

@media screen and (max-width: $media) {
  #{map-get($selectorMap, body)} {
    font-size: $hundred;
    margin: $zero;
    padding: $zero;
    width: $hundred;
  }
}
