@{
    ViewData["Title"] = "Om oss";
}

<div>
    <h1 id="vemh1">Vem är vi?</h1>
    <p id="abouttxt">
        Vi startade verksamheten år 2000 och har erbjudit bra service till våra kunder sedan dess.<br />
        <br />Min Frisör ligger i Sveavägen 45 i Stockholm.<br />
        Du kan nå oss via dessa digitala kanaler:<br />
        <b>Telefonnummer:</b> <a class="link" href="tel:0808444975">08-08444975</a>.<br />
        <b>Mobilnummer:</b> <a class="link" href="tel:072897526">072-897526</a>.<br />
        <b>Facebook:</b> <a href="#" class="link">
    Minfrisör</a>.
    <br /><br /><br />
    Du kan också kontakta oss via kontaktformuläret som finns i 
    <a href="~/Home/Contact" class="link">Kontakta oss</a>.<br /><br /><br />
    <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2034.6235139297557!2d18.057303016193163!3d59.33923921726992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f9d6625e2c279%3A0x199440cfa2e4c942!2sSveav%C3%A4gen%2045%2C%20111%2034%20Stockholm!5e0!3m2!1ssv!2sse!4v1584457472433!5m2!1ssv!2sse" width="600" height="450" class="border-0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</p>
</div>
