@{
    ViewData["Title"] = "Frisörutbildning";
}

<div>
    <h1 class="utbildah1">Vill du utbilda dig till frisör?</h1>
    <p class="coursetxt">
        Det är vårt glädje att du vill utbilda dig till frisör. Vi har erfarna och<br /> professionella lärare som du kan lite på.
        <br />
        <b>Utbildning pris:</b> 10 000 kr inklusive böcker.<br />
        Vill du utbilda dig då behöver du kontakta oss via telefonnumret:<br />
        <a href="tel:0808444975" class="link">08-08444975</a>.
    </p>
</div>
