@{
    ViewData["Title"] = "Priser";
}

<h1 class="pricesh1">Prislista</h1>
<table class="table">
    <thead>
        <tr>
            <th>Tjänst</th>
            <th>Pris</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Herr hårklippning</td>
            <td>150 kr</td>
        </tr>
        <tr>
            <td>Dam hårklippning</td>
            <td>250 kr</td>
        </tr>
        <tr>
            <td>
                Pensionärer/Studenter hårklippning
            </td>
            <td>100 kr</td>
        </tr>
        <tr>
            <td>Barn 0-10 hårklippning</td>
            <td>150 kr</td>
        </tr>
        <tr>
            <td>Barn 10-18 hårklippning</td>
            <td>100 kr</td>
        </tr>

        <tr>
            <td>Skäggtrimmering</td>
            <td>100 kr</td>
        </tr>

        <tr>
            <td>Färgning</td>
            <td>400 kr</td>
        </tr>
        <tr>
            <td>Slingor</td>
            <td>450 kr</td>
        </tr>

    </tbody>
    
</table>