#{selector(logoBox)} {
  background: url(../img/logo.jpg) $dntrepeat $cntr $cntr;
  height: 320px;
  margin: 10px;
}

@media screen and (max-width: 1900px) {
  #{selector(logoBox)} {
    background-repeat: $dntrepeat;
    background-size: 100% 50%;
    background-position: $cntr;
    margin: 10px 10px 0 10px;
  }
}
