#{map-get($selectorMap, wrapper)} {
  font-family: Cambria, Georgia;
  width: 1400px;
  margin: 0 $auto;
  background: #bdedff;
  overflow: $hid;
}

#{map-get($selectorMap, left)} {
  float: $leftpos;
  padding: 10px;
}

#{map-get($selectorMap, Col20)} {
  width: 20%;
}

#{map-get($selectorMap, Col30)} {
  width: 30%;
}

#{map-get($selectorMap, Col35)} {
  width: 35%;
}

#{map-get($selectorMap, center)} {
  float: $leftpos;
  width: 70%;
  margin: 10px;

  #{map-get($selectorMap, para)} {
    font-size: 20px;
  }
}

#{map-get($selectorMap, row)} {
  margin: 0 10px 0 10px;
  border-radius: 15px;
  background: #addfff;
  display: $webflex;
  display: $msflex;
  display: $flex;
  border: 1px $solidbrd #292b2c;
  overflow: $hid;
}

#{map-get($selectorMap, warning)} {
  color: #d9534f;
}

#{map-get($selectorMap, Col25)} {
  width: 25%;
}

#{map-get($selectorMap, Col65)} {
  width: 65%;
}

#{map-get($selectorMap, first)} {
  border-left: 1px $solidbrd color(black);
}

#{map-get($selectorMap, Main)} {
  margin: 10px;
}

#{map-get($selectorMap, Col50)} {
  width: 50%;
}

#{map-get($selectorMap, mb)} {
  margin-bottom: 20px;
}

@media screen and (max-width: 1900px) {
  #{map-get($selectorMap, wrapper)} {
    width: 100%;
    margin: 0;
    font-size: 16px;
    overflow: $hid;
  }

  #{map-get($selectorMap, Col25)},
  #{map-get($selectorMap, Col30)},
  #{map-get($selectorMap, Col35)},
  #{map-get($selectorMap, Col40)},
  #{map-get($selectorMap, Col50)},
  #{map-get($selectorMap, Col65)} {
    width: 100%;
  }

  #{map-get($selectorMap, center)} {
    width: 95%;
    text-align: $cntr;
    margin: 10px;
  }

  #{map-get($selectorMap, Col20)} {
    width: 100%;
    text-align: $cntr;
  }

  #{map-get($selectorMap, confirmTxt)} {
    margin-left: 10px;
    width: 400px;
    font-size: 10px;
  }

  #{map-get($selectorMap, main)} {
    overflow: $auto;
  }

  #{map-get($selectorMap, row)} {
    -webkit-box-orient: $vertical;
    -webkit-box-direction: $normal;
    -ms-flex-direction: $col;
    flex-direction: $col;
  }
}
