#{selector(left)} {
  float: $leftpos;
  padding: 10px;
}

#{selector(Col20)} {
  width: 20%;
}

#{selector(Col30)} {
  width: 30%;
}

#{selector(Col35)} {
  width: 35%;
}

#{selector(center)} {
  float: $leftpos;
  width: 70%;
  margin: 10px;

  #{selector(para)} {
    font-size: 20px;
  }
}

#{selector(row)} {
  margin: 0 10px 0 10px;
  border-radius: 15px;
  background: #addfff;
  display: $webflex;
  display: $msflex;
  display: $flex;
  border: 1px $solidbrd #292b2c;
  overflow: $hid;
}

#{selector(warning)} {
  color: #d9534f;
}

#{selector(Col25)} {
  width: 25%;
}

#{selector(Col65)} {
  width: 65%;
}

#{selector(first)} {
  border-left: 1px $solidbrd color(black);
}

#{selector(Main)} {
  margin: 10px;
}

#{selector(Col50)} {
  width: 50%;
}

#{selector(mb)} {
  margin-bottom: 20px;
}

@media screen and (max-width: 1900px) {
  #{selector(wrapper)} {
    width: 100%;
    margin: 0;
    font-size: 16px;
    overflow: $hid;
  }

  #{selector(Col25)},
  #{selector(Col30)},
  #{selector(Col35)},
  #{selector(Col40)},
  #{selector(Col50)},
  #{selector(Col65)} {
    width: 100%;
  }

  #{selector(center)} {
    width: 95%;
    text-align: $cntr;
    margin: 10px;
  }

  #{selector(Col20)} {
    width: 100%;
    text-align: $cntr;
  }

  #{selector(confirmTxt)} {
    margin-left: 10px;
    width: 400px;
    font-size: 10px;
  }

  #{selector(main)} {
    overflow: $auto;
  }

  #{selector(row)} {
    -webkit-box-orient: $vertical;
    -webkit-box-direction: $normal;
    -ms-flex-direction: $col;
    flex-direction: $col;
  }
}
